@model List<Product>

@{
    ViewData["Title"] = "Lista Produktów";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj nowy produkt</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nazwa Produktu</th>
                <th>Cena</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price zł</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@product.ProductId">Szczegóły</a>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@product.ProductId">Edytuj</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.ProductId">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
